body {
    background-color: rgb(255, 255, 243);
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v986-bg-02-kqhe3wit.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=a18675d7f6be224df8ff585d65d5d8dc")
     }
    h1 {
    font-family: "brush script mt";
    font-size: 50px;
    color: rgb(141, 195, 208);
    text-align: center;
    }
    
    .navbar {
    background-color: rgb(141, 195, 208);
    background-size: 70px;
    display: flex;
    justify-content: space-evenly;
    }
    
    .navbar a{
    text-decoration: none;
    margin-right: 150px;
    letter-spacing: 3px;
    margin-left: 100px;
    font-family: Garamond;
    }
    
    .navbar a:hover {
    color: blueviolet;
    }
    
    img{
    width: 50%;
    }
    p {
    color: ;
    font-family: garamond;
    font-size: 20px;
    border: 2px solid rgb(112, 158, 189);
    border-radius: 8px;
    padding: 5px;
    margin-right: 150px;
    margin-left: 100px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
            }