body {
    background-color: #294D4A;
     }
    h1 {
    font-family: "brush script mt";
    font-size: 50px;
    color: rgb(37, 28, 59);
    text-align: center;
    }
h2 {
  color: rgb(37, 28, 59);
}
    
    .navbar {
    background-color: #BBB6BF;
    background-size: 70px;
    display: flex;
    justify-content: space-evenly;
    }
    
    .navbar a{
    text-decoration: none;
    color: rgb(37, 28, 59);
    margin-right: 150px;
    letter-spacing: 3px;
    margin-left: 100px;
    font-family: Garamond;
    }
    
    .navbar a:hover {
    color: blueviolet;
    }
    .footer {
        background-color: rgb(141, 195, 208);
        background-size: 70px;
        display: flex;
        justify-content: space-evenly;
    }
    
    img{
    width: 30%;
    }
    p {
      
    font-family: garamond;
    font-size: 20px;
    border: 2px solid rgb(112, 158, 189);
    border-radius: 8px;
    padding: 5px;
    margin-right: 150px;
    margin-left: 100px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
            }
.first {
  width: 20%;
}